@page
@model Marrero_Projet2RazorApp.Pages.Marques.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Vous voulez vraiment supprimer cette marque?</h3>
<div>
    <h4>Marque</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marque.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marque.Nom)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Marque.MarqueId" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-page="./Index">Retour à la liste</a>
    </form>
</div>
