@page
@model Marrero_Projet2RazorApp.Pages.Autos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Ajout</h1>

<h4>Auto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Auto.nom" class="control-label"></label>
                <input asp-for="Auto.nom" class="form-control" />
                <span asp-validation-for="Auto.nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auto.MarqueId" class="control-label"></label>
                <select asp-for="Auto.MarqueId" class ="form-control" asp-items="ViewBag.MarqueId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Auto.Modele" class="control-label"></label>
                <input asp-for="Auto.Modele" class="form-control" />
                <span asp-validation-for="Auto.Modele" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auto.CouleurId" class="control-label"></label>
                <select asp-for="Auto.CouleurId" class ="form-control" asp-items="ViewBag.CouleurId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajout" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
