@model Marrero_Projet2AutosMVC.Models.Auto

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifier</h1>

<h4>Auto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AutoId" />
            <div class="form-group">
                <label asp-for="nom" class="control-label"></label>
                <input asp-for="nom" class="form-control" />
                <span asp-validation-for="nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarqueId" class="control-label"></label>
                <select asp-for="MarqueId" class="form-control" asp-items="ViewBag.MarqueId"></select>
                <span asp-validation-for="MarqueId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modele" class="control-label"></label>
                <input asp-for="Modele" class="form-control" />
                <span asp-validation-for="Modele" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouleurId" class="control-label"></label>
                <select asp-for="CouleurId" class="form-control" asp-items="ViewBag.CouleurId"></select>
                <span asp-validation-for="CouleurId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Modifier" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
