@model Marrero_Projet2AutosMVC.Models.Couleur

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer</h1>

<h3>Vous voulez vraiment supprimer cette couleur?</h3>
<div>
    <h4>Couleur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CouleurId" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
