@page
@model Marrero_Projet2RazorApp.Pages.Couleurs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Détails</h1>

<div>
    <h4>Couleur</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Couleur.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Couleur.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Couleur.CouleurId">Modifier</a> |
    <a asp-page="./Index">Retour à la liste</a>
</div>
